<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727668312119-li9vfh4aso26bsnvqma58o9qpkjjcgro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727668312119-li9vfh4aso26bsnvqma58o9qpkjjcgro</string>
	<key>API_KEY</key>
	<string>AIzaSyDACrDeI7_AFmnEMq6OmUUaqPpr3WJ5eU8</string>
	<key>GCM_SENDER_ID</key>
	<string>727668312119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthTaylor</string>
	<key>PROJECT_ID</key>
	<string>health10293</string>
	<key>STORAGE_BUCKET</key>
	<string>health10293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727668312119:ios:096291d3ab7ecae69dd7b2</string>
	<key>CFBundleURLTypes</key>
    <array>
    	<dict>
    		<key>CFBundleTypeRole</key>
    		<string>Editor</string>
    		<key>CFBundleURLSchemes</key>
    		<array>
    			<string>727668312119-li9vfh4aso26bsnvqma58o9qpkjjcgro</string>
    		</array>
    	</dict>
    </array>
</dict>
</plist>